<a href= "/Ingredients">The Ingredients Page</a>
<%= link_to "The Ingredients Page", ingredient_path %>

<a href="/ingredients/1">One ingredient </a>
<%= link_to "One Ingredient", ingredient_path(1) %>

<%= link_to "Create a new ingredient", new_ingredient_path %>
<%= link_to "  Edit", edit_ingredient_path %>
<%= link_to "  New User", new_user_path %>